<!doctype html>
<html lang="en">
  <head>
    <title>Bookstore</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
 <style>
.customdiv
{
  margin-top : 
   
   background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 35px;
  font-weight:bold;
  font-size: 15px;  
 border-radius: 4px;
 
}
.container
{
  padding-top: 20px;

}
input[type=text]:focus {
    background-color: lightgrey;
}
input[type=password]:focus {
    background-color: lightgrey;
}

.custom1
{
  height: 150px;
  background-color: white;
  border:1px solid black;

}
.custom2
{
  height:180px;
  background-color: white;
  border: 1px solid black;  
}
</style>
  </head>
  <body style="background-image:url('http://i.huffpost.com/gen/1976688/images/o-BOOK-COFFEE-facebook.jpg'); background-size:cover; ">
  	
  	   <div class="container">
  	   	<div class="row">
  	   		<div class="col-lg-6 offset-lg-6 ">
  	   			<div class="customdiv" style="height: 600px; margin-bottom: 20px; background-color: white; opacity:0.8; font-weight: bolder;">
                   	<h1 style="text-align: center ;color:black; font-weight: bold"> BookStore </h1>

                   	<div style="padding-top:40px;">
                       <i style="font-size: 20px;">Login</i>
                     <div class="custom2" style=" padding-top: 20px;padding-left: 10px;"> 
                     <form class="form-horizontal" method='post' action="/login">
                      <div class="form-group">
                        <div class="row">
                        <div class="col-sm-2 ">
                         	<label for="username">Username </label>
                        </div>
                           <div class="col-sm-5"> 
                     	     <input type="text" name="username" >
                           </div>
                        </div>
                     </div>
                     
                     <div class="form-group">
                      <div class="row">
                        <div class="col-sm-2">
                         <label for="password">Password </label>
                        </div>
                           <div class="col-sm-5"> 
                            <input type="password" name="password" >
                           </div>
                      </div>
                      </div>
                      
                       <div class="form-group"> 
                        <div class="row">   
                          <div class="col-sm-2 offset-sm-1">
                            <button class="btn btn-info" type="submit"> Login</button>
                          </div>
                      </div>
                      </div>
                    </form>
     
                       
                </div>

              </br>
              <i style="font-size: 20px;">Sign up </i>
            <div class="custom2" style=""> 
                  <form class="form-horizontal" method='post' action="/signup" style="padding-top: 20px;padding-left: 10px;">
                      <div class="form-group">
                        <div class="row">
                        <div class="col-sm-2 ">
                          <label for="username">Username </label>
                        </div>
                           <div class="col-sm-5"> 
                           <input type="text" name="username" >
                           </div>
                        </div>
                     </div>
                     
                     <div class="form-group">
                      <div class="row">
                        <div class="col-sm-2">
                         <label for="password">Password </label>
                        </div>
                           <div class="col-sm-5"> 
                            <input type="password" name="password" >
                           </div>
                      </div>
                      </div>
                      <div class="form-group"> 
                        <div class="row">
                          
                          <div class="col-sm-2 offset-sm-1">
                            <button class="btn btn-info" type="submit"> Signup</button>
                          </div>
                      </div>
                      </div>
                     
                    </form>
             

            </div>    

            </div>
  	   			</div>
  	   		</div>
  	   	
  	   	</div>
  	   	</div>
  	
  	

  	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>